@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
    --dc-blue: #0476F2;
    --dc-blue-light: #2A8FF7;
    --dc-blue-dark: #0354B9;
    --dc-white: #FFFFFF;
    --superman-yellow: #ffed10;
    --superman-yellow-dark: #d6c009;
    --font-size-h1: 2.5em;
    --font-size-h2: 2em;
    --font-size-h3: 1.5em;
    --font-size-h4: 1.2em;
    --transition-speed: 0.3s;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-shadow-color: rgba(0, 0, 0, 0.2);
    --focus-border-color: var(--dc-blue-light);
    --link-color: var(--dc-blue);
    --link-hover-color: var(--superman-yellow-dark);
    --background-color: var(--dc-blue-dark);
    --text-color: var(--dc-white);
}

/* General Page Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}


/* Header Styling */
header {
    background-color: var(--dc-blue);
    color: var(--dc-white);
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

/* Forum Section */
.forum-page, .forum-detail, .subforum-detail {
    background-color: var(--dc-white);
    color: var(--dc-blue);
    border: 5px solid var(--dc-blue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.forum h3, .forum-detail h2, .subforum-detail h2 {
    color: var(--dc-blue);
    text-shadow: 1px 1px var(--dc-white);
    margin-bottom: 10px;
}

/* Apply font sizes */
h3 {
    font-family: 'Bangers', sans-serif;
    font-size: var(--font-size-h3);
}

h2 {
    font-family: 'Bangers', sans-serif;
    font-size: var(--font-size-h2);
}

h1 {
    font-family: 'Bangers', sans-serif;
    font-size: var(--font-size-h1);
}


/* Links */
h3 a {
    color: var(--dc-blue);
    text-decoration: none;
    transition: color 0.3s, padding 0.3s, border-radius 0.3s;
}

h3 a:hover {
    color: var(--superman-yello);
    border-radius: 5px;
}
