/* General form styling */
.admin-panel-form {
    background-color: #f4f7f6;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    font-family: 'Arial', sans-serif;
}

.admin-panel-form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.admin-panel-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.admin-panel-form input[type="text"],
.admin-panel-form input[type="email"],
.admin-panel-form input[type="password"],
.admin-panel-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease;
}

.admin-panel-form input[type="text"]:focus,
.admin-panel-form input[type="email"]:focus,
.admin-panel-form input[type="password"]:focus,
.admin-panel-form textarea:focus {
    border-color: #007bff;
    outline: none;
}

.admin-panel-form textarea {
    resize: vertical;
    height: 100px;
}

.admin-panel-form button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-panel-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.admin-panel-form .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.admin-panel-form .success-message {
    color: green;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

/* AdminPanel.css */
.admin-panel {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    padding: 20px;
    color: white;
}

.nav {
    list-style: none;
    padding: 0;
}

.nav li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav li.active,
.nav li:hover {
    background-color: #495057;
}

.main-content {
    position: relative;
    flex-grow: 1;
    padding: 20px;
}

/* ForumTable Component Styling */

/* General Table Styling */
.forum-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--dc-blue-light);
    border: 2px solid var(--dc-blue);
    box-shadow: 0 0 10px var(--shadow-color);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.forum-table th, .forum-table td {
    padding: 15px;
    border: 1px solid var(--dc-blue-dark);
    text-align: left;
    color: var(--dc-white);
    font-family: 'Futura PT', sans-serif;
}

.forum-table th {
    background-color: var(--dc-blue-dark);
    font-size: 1.1rem;
    color: var(--dc-white-dark);
    text-transform: uppercase;
}

.forum-table td {
    font-size: 0.9rem;
}

.forum-table tr:nth-child(even) {
    background-color: var(--dc-blue);
}

.forum-table tr:hover {
    background-color: var(--dc-white);
    color: var(--dc-blue-dark);
}

/* Action Buttons */
.forum-table button {
    background-color: var(--dc-white);
    color: var(--dc-blue-dark);
    border: 2px solid var(--dc-blue-dark);
    padding: 8px 12px;
    font-family: 'Futura PT', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.forum-table button:hover {
    background-color: var(--dc-blue-dark);
    color: var(--dc-white);
}

.add-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--dc-white);
    color: var(--dc-blue-dark);
    border: 2px solid var(--dc-blue-dark);
    font-family: 'Futura PT', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.add-button:hover {
    background-color: var(--dc-blue-dark);
    color: var(--dc-white);
}

