.subforum-row {
  background-color: #fcfcfc;
}

.subforum-row:hover {
  background-color: #f5f8ff;
}

.ant-table-tbody > tr.subforum-row > td {
  border-top: 1px dashed #f0f0f0;
}

.ant-statistic-title {
  font-size: 12px;
}
