/* Title Styling */
.thread-detail h2 {
    font-size: var(--font-size-h1);
    text-align: center;
    color: var(--dc-blue);
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--dc-white);
    border-bottom: 5px solid var(--dc-blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Post Styling */
.post {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    border-left: 5px solid var(--dc-blue);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.post .user-info {
    width: 150px;
    text-align: center;
}

.user-info img.avatar {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.user-info p {
    font-size: 1em;
    color: var(--dc-blue);
    margin: 0;
}

.post-content {
    flex-grow: 1;
    background-color: var(--dc-white);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--dc-blue);
    font-family: 'Georgia', serif;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
    color: var(--dc-blue);
}

